<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes - Nutrition Website</title>
    <link rel="stylesheet" href="/static/styles/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <h1>Nutrition Hub</h1>
                <h2>Recipies</h2>
            </div>
            <hr />
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="#">Tracker</a></li>
                <li><a href="#">Recipes</a></li>
                <li><a href="#">Notes</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#" id="login-button">Login</a></li>
            </ul>
        </nav>
    </header>

    <div class="input-container">
        <form method = 'POST' action="/search">
            <div class="input-group">
                <label for="protein">Calories</label>
                <input type="text" name = "calories" id="calories" placeholder="Enter calories">
            </div>
            <div class="input-group">
                <label for="protein">Protein</label>
                <input type="text" name = "protein" id="protein" placeholder="Enter protein value">
            </div>
            <div class="input-group">
                <label for="fats">Fats</label>
                <input type="number" name = "fats" id="fats" placeholder="Enter fats value">
            </div>
            <div class="input-group">
                <label for="carbs">Carbs</label>
                <input type="number" name = "carbs" id="carbs" placeholder="Enter carbs value">
            </div>
            <div class="input-group">
                <label for="num_recipes">Number of Recipes</label>
                <input type="number" name = "num_recipes" id="num_recipes" placeholder="Enter number of recipes">
            </div>
            <button id="submit-button">Submit</button>
        </form>
    </div>
    <hr />

    <section id = "recipe-results" class="recipe-results">
        <div class="recipe-grid">
            {% for message in messages %}
            <a onclick="getSpecificRecipie(this)" data-id="{{ message['id'] }}" data-title="{{ message['title'] }}" data-calories="{{ message['calories'] }}" data-protein="{{ message['protein'] }}" data-fat="{{ message['fat'] }}" data-carbs="{{ message['carbs'] }}" data-image="{{ message['image'] }}">
                <div class='message'>
                    <h3 id="{{ message['id'] }}">{{ message['title'] }}</h3>
                    <p>Calories: {{ message['calories'] }}</p>
                    <p>Protein: {{ message['protein'] }}</p>
                    <p>Fat: {{ message['fat'] }}</p>
                    <p>Carbs: {{ message['carbs'] }}</p>
                    <div class="image-container">
                        <img src="{{ message['image'] }}" alt="Recipe Image">
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </section>

    <div id="login-modal" class="modal">
        <div class="modal-content">
            <span class="close-button" id="close-login-modal">&times;</span>
            <h2>Login</h2>
            <form>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>

    <footer>
        <div class="container">
            <p>&copy; 2023 Nutrition Hub</p>
        </div>
    </footer>

</body>
</html>
<script src="/static/app.js"></script>
